{% load static %}
<!DOCTYPE html>
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8" />
  <title>{{ question.question_text }} | Kaspar Noor</title>
  <meta name="description" content="{{ question.question_description }}" />
  <meta name="author" content="Kaspar Noor" />

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link
    href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
    rel="stylesheet"
    type="text/css"
  />

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <link rel="stylesheet" href="{% static 'polls/css/normalize.css' %}" />
  <link rel="stylesheet" href="{% static 'polls/css/skeleton.css' %}" />

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png" />
</head>
<body>
  <div class="container">
    <form style="margin-top: 5%;" action="{% url 'polls:vote' question.id %}" method="post">
      {% csrf_token %}
      <fieldset>
        <legend><h1 style="font-weight: bold;">{{ question.question_text }}</h1></legend>
        <legend><p>{{ question.question_description }}</p></legend>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %} {% for choice in question.choice_set.all %}
        <input
          type="radio"
          name="choice"
          id="choice{{ forloop.counter }}"
          value="{{ choice.id }}"
        />
        <label for="choice{{ forloop.counter }}"
          >{{ choice.choice_text }}</label
        ><br />
        {% endfor %}
      </fieldset>
      <input class="button-primary" type="submit" value="Saada oma hääl" />
    </form>
  </div>
</body>
</html>
